#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: justify;
}

.post{
  outline: solid 2px gray;
  margin: 3rem 1rem;
  max-width: 900px;
}

.post h2, .post p, .post div{
  padding: 1rem;
  margin: 0;
}

.post-bottom{
  background-color: #786452;
}

.post-detail{
  outline: solid 2px #a5907e;
  padding: 1rem;
  font-size: 20px;
  max-width: 900px;
}

.form-comment{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  gap: 10px;
  margin: 0;
}

.input-comment{
  width: 300px;
  padding: 5px 0;
  background-color: #a5907e;
  border: #550C18;
  color: #550C18;
}

.btn-comment{
  padding: 6px 10px;
  width: 150px;
  background-color: #550C18;
}

.comment p{
  margin: 2px;
}

.comment :nth-child(1){
  font-size: 20px;
  font-weight: 700;
}

.comment :nth-child(2){
  font-size: 16px;
  font-weight: 400;
}

